body {
    background-color: #E3E3E3;
    font-family: "Arial";
}

.main {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

h1 {
    font-weight: normal;
    border-bottom: 1px solid grey;
}

h2 {
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

h3 {
    font-weight: normal;
}

ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.title {
    color: black;
    text-decoration: none;
    font-size: 3em;
    text-align: center;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.navbar {
    background-color: #999999;
    padding: 5px;
    text-align: center;
}